/*******************************/
/*********CONTAINER*************/
/*******************************/

.play_card_container {
  display: flex;
  justify-content: center;
}

.play_card {
  background-color: var(--bacground_play_card);
  width: 240px;
  height: 462px;
}

/***************************/
/*********TITRE*************/
/***************************/

.titre_h1 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
}
